# build output
dist/
.output/

# dependencies
node_modules/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
