# unnecesary dirs
test/
website/

# dependencies
node_modules/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# config files
tsconfig.json
tsup.config.ts
.editorconfig
.prettierrc.msj
eslint.config.mjs
.gitignore

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
