---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import type { AstroCookieGuardProps } from "../types"

export interface Props extends AstroCookieGuardProps {}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="cookiePanel" class="cookie-panel">
	<p>
		{t("mainText")} <a
			href="#">{t("learnMore")}</a>
	</p>
	<div class="cookie-buttons">
		<button id="acceptCookies" class="accept-cookies">{t("accept")}</button>
		<button id="rejectCookies" class="reject-cookies">{t("reject")}</button>
	</div>
</div>

<style>
	.cookie-panel {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #f2f2f2;
		padding: 15px;
		text-align: center;
		box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
	}

	.cookie-buttons {
		margin-top: 10px;
	}

	.cookie-buttons button {
		padding: 8px 20px;
		margin: 0 5px;
		border: none;
		cursor: pointer;
	}

	.accept-cookies {
		background-color: #4caf50;
		color: white;
	}

	.reject-cookies {
		background-color: #f44336;
		color: white;
	}
</style>

<script></script>
